ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: lightgray;
}

li {
    float: left;
}

li a {
    display: block;
    color: blue;
    font-size:20px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}
.active{
    background-color: gray;
    color: white;
}
li a:hover {
    background-color: orange;
    color: white;
}

table {
    overflow-x: auto;
}
th {
    background-color: #04AA6D;
    color: white;
}

tr:nth-child(even) { background-color: #f2f2f2; }

tr:hover { background-color: coral; }

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}